openapi: 3.0.3
info:
  title: Admin API
  version: 0.2.0
  description: |
    API contract for routes currently wired in
    `backend/infrastructure/lib/api-stack.ts`.

    The current API Gateway deployment exposes:
    - `GET /health`
    - `GET|POST /v1/admin/assets`
    - `GET|PUT|DELETE /v1/admin/assets/{id}`
    - `GET|POST /v1/admin/assets/{id}/grants`
    - `DELETE /v1/admin/assets/{id}/grants/{grantId}`
    - `GET /v1/user/assets`
    - `GET /v1/user/assets/{id}/download`
    - `GET /v1/assets/public`
    - `GET /v1/assets/public/{id}/download`

    Note:
    `backend/src/app/api/admin.py` also contains broader admin/manager/user
    CRUD logic, but those additional paths are not currently routed by
    API Gateway in this stack.

servers:
  - url: https://api.evolvesprouts.com
    description: Production custom domain (when configured)
  - url: https://{restApiId}.execute-api.{region}.amazonaws.com/prod
    description: API Gateway invoke URL
    variables:
      restApiId:
        default: example
      region:
        default: ap-southeast-1

paths:
  /health:
    get:
      summary: Health check
      description: Returns backend health status and dependency checks.
      security:
        - SigV4Auth: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/admin/assets:
    get:
      summary: List admin assets
      description: Admin-only route for listing managed assets.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create admin asset
      description: Admin-only route for creating an asset.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Get admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Asset deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: List asset grants
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Grant list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create asset grant
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Grant create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants/{grantId}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
      - $ref: "#/components/parameters/GrantId"
    delete:
      summary: Delete asset grant
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Grant deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/user/assets:
    get:
      summary: List user assets
      description: Route for any authenticated Cognito user.
      security:
        - UserBearerAuth: []
      responses:
        "200":
          description: User asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/user/assets/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate user asset download
      security:
        - UserBearerAuth: []
      responses:
        "200":
          description: Download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/public:
    get:
      summary: List public assets
      description: Public route guarded by device attestation and API key.
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/public/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate public asset download
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericPayload"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    SigV4Auth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        AWS Signature Version 4 signed Authorization header (IAM auth).
    AdminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito JWT validated by AdminGroupAuthorizerFunction.
    UserBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito JWT validated by UserAuthorizerFunction.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    DeviceAttestation:
      type: apiKey
      in: header
      name: x-device-attestation

  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Asset identifier.
    GrantId:
      name: grantId
      in: path
      required: true
      schema:
        type: string
      description: Asset grant identifier.

  responses:
    BadRequest:
      description: Validation or request format error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authorization failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found or not currently implemented.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    GenericPayload:
      type: object
      additionalProperties: true
      description: |
        Placeholder payload schema for currently wired asset endpoints.
        The current handler path is wired in API Gateway, while detailed
        asset payload contracts are still being finalized.
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        detail:
          type: string
          nullable: true
    HealthResponse:
      type: object
      required:
        - healthy
        - version
        - environment
      properties:
        healthy:
          type: boolean
        version:
          type: string
        environment:
          type: string
        checks:
          type: array
          items:
            type: object
            additionalProperties: true
