openapi: 3.0.3
info:
  title: Admin API
  version: 0.2.0
  description: |
    API contract for routes currently wired in
    `backend/infrastructure/lib/api-stack.ts`.

    The current API Gateway deployment exposes:
    - `GET /health`
    - `GET|POST /v1/admin/assets`
    - `GET|PUT|DELETE /v1/admin/assets/{id}`
    - `GET|POST /v1/admin/assets/{id}/grants`
    - `DELETE /v1/admin/assets/{id}/grants/{grantId}`
    - `GET /v1/user/assets`
    - `GET /v1/user/assets/{id}/download`

servers:
  - url: https://api.evolvesprouts.com
    description: Production custom domain (when configured)
  - url: https://{restApiId}.execute-api.{region}.amazonaws.com/prod
    description: API Gateway invoke URL
    variables:
      restApiId:
        default: example
      region:
        default: ap-southeast-1

paths:
  /health:
    get:
      summary: Health check
      description: Returns backend health status and dependency checks.
      security:
        - SigV4Auth: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/admin/assets:
    get:
      summary: List admin assets
      description: Admin-only route for listing managed assets.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create admin asset
      description: Admin-only route for creating an asset.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
      responses:
        "201":
          description: Asset create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Get admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update admin asset
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAssetRequest"
      responses:
        "200":
          description: Asset update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Asset deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: List asset grants
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Grant list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetGrantListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create asset grant
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetGrantRequest"
      responses:
        "201":
          description: Grant create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetGrantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants/{grantId}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
      - $ref: "#/components/parameters/GrantId"
    delete:
      summary: Delete asset grant
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Grant deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/user/assets:
    get:
      summary: List user assets
      description: Route for any authenticated Cognito user.
      security:
        - UserBearerAuth: []
      responses:
        "200":
          description: User asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/user/assets/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate user asset download
      security:
        - UserBearerAuth: []
      responses:
        "200":
          description: Download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    SigV4Auth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        AWS Signature Version 4 signed Authorization header (IAM auth).
    AdminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito JWT validated by AdminGroupAuthorizerFunction.
    UserBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito JWT validated by UserAuthorizerFunction.

  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Asset identifier.
    GrantId:
      name: grantId
      in: path
      required: true
      schema:
        type: string
      description: Asset grant identifier.

  responses:
    BadRequest:
      description: Validation or request format error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authorization failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    Asset:
      type: object
      required:
        - id
        - title
        - asset_type
        - s3_key
        - file_name
        - visibility
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        s3_key:
          type: string
        file_name:
          type: string
        content_type:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [public, restricted]
        created_by:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
    AssetGrant:
      type: object
      required:
        - id
        - asset_id
        - grant_type
      properties:
        id:
          type: string
          format: uuid
        asset_id:
          type: string
          format: uuid
        grant_type:
          type: string
          enum: [all_authenticated, organization, user]
        grantee_id:
          type: string
          nullable: true
        granted_by:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
    AssetListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Asset"
        next_cursor:
          type: string
          nullable: true
    AssetResponse:
      type: object
      required:
        - asset
      properties:
        asset:
          $ref: "#/components/schemas/Asset"
    AssetGrantListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AssetGrant"
    AssetGrantResponse:
      type: object
      required:
        - grant
      properties:
        grant:
          $ref: "#/components/schemas/AssetGrant"
    AssetDownloadResponse:
      type: object
      required:
        - asset_id
        - download_url
        - expires_at
      properties:
        asset_id:
          type: string
        download_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
    CreateAssetRequest:
      type: object
      required:
        - title
        - file_name
        - asset_type
        - visibility
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        file_name:
          type: string
          maxLength: 255
        content_type:
          type: string
          maxLength: 127
          nullable: true
        visibility:
          type: string
          enum: [public, restricted]
    UpdateAssetRequest:
      allOf:
        - $ref: "#/components/schemas/CreateAssetRequest"
    CreateAssetResponse:
      type: object
      required:
        - asset
      properties:
        asset:
          $ref: "#/components/schemas/Asset"
        upload_url:
          type: string
          format: uri
          nullable: true
        upload_method:
          type: string
        upload_headers:
          type: object
          additionalProperties:
            type: string
        expires_at:
          type: string
          format: date-time
          nullable: true
    CreateAssetGrantRequest:
      type: object
      required:
        - grant_type
      properties:
        grant_type:
          type: string
          enum: [all_authenticated, organization, user]
        grantee_id:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        detail:
          type: string
          nullable: true
    HealthResponse:
      type: object
      required:
        - healthy
        - version
        - environment
      properties:
        healthy:
          type: boolean
        version:
          type: string
        environment:
          type: string
        checks:
          type: array
          items:
            type: object
            additionalProperties: true
