openapi: 3.0.3
info:
  title: Admin API
  version: 0.2.0
  description: |
    API contract for routes currently wired in
    `backend/infrastructure/lib/api-stack.ts`.

    The current API Gateway deployment exposes:
    - `GET /health`
    - `GET /v1/admin/geographic-areas`
    - `GET|POST /v1/admin/locations`
    - `POST /v1/admin/locations/geocode`
    - `GET|PUT|PATCH|DELETE /v1/admin/locations/{id}`
    - `GET /v1/admin/users`
    - `GET|POST /v1/admin/services`
    - `GET /v1/admin/services/instances`
    - `GET|PUT|PATCH|DELETE /v1/admin/services/{id}`
    - `POST /v1/admin/services/{id}/cover-image`
    - `GET|POST /v1/admin/services/{id}/instances`
    - `GET|PUT|DELETE /v1/admin/services/{id}/instances/{instanceId}`
    - `GET|POST /v1/admin/services/{id}/instances/{instanceId}/enrollments`
    - `PATCH|DELETE /v1/admin/services/{id}/instances/{instanceId}/enrollments/{enrollmentId}`
    - `GET|POST /v1/admin/discount-codes`
    - `PUT|DELETE /v1/admin/discount-codes/{id}`
    - `GET /v1/admin/contacts/tags`
    - `GET /v1/admin/contacts/search`
    - `GET|POST /v1/admin/contacts`
    - `GET|PATCH /v1/admin/contacts/{id}`
    - `GET /v1/admin/families/picker`
    - `GET|POST /v1/admin/families`
    - `GET|PATCH /v1/admin/families/{id}`
    - `POST /v1/admin/families/{id}/members`
    - `DELETE /v1/admin/families/{id}/members/{memberId}`
    - `GET /v1/admin/organizations/picker`
    - `GET|POST /v1/admin/organizations`
    - `GET|PATCH /v1/admin/organizations/{id}`
    - `POST /v1/admin/organizations/{id}/members`
    - `DELETE /v1/admin/organizations/{id}/members/{memberId}`
    - `GET|POST /v1/admin/vendors`
    - `GET|PATCH /v1/admin/vendors/{id}`
    - `GET|POST /v1/admin/expenses`
    - `GET|PATCH /v1/admin/expenses/{id}`
    - `POST /v1/admin/expenses/{id}/cancel`
    - `POST /v1/admin/expenses/{id}/mark-paid`
    - `POST /v1/admin/expenses/{id}/reparse`
    - `POST /v1/admin/expenses/{id}/amend`
    - `GET|POST /v1/admin/leads`
    - `GET|PATCH /v1/admin/leads/{id}`
    - `POST /v1/admin/leads/{id}/notes`
    - `GET /v1/admin/leads/analytics`
    - `GET /v1/admin/leads/export`
    - `GET|POST /v1/admin/assets`
    - `GET|PUT|PATCH|DELETE /v1/admin/assets/{id}`
    - `GET|POST /v1/admin/assets/{id}/grants`
    - `DELETE /v1/admin/assets/{id}/grants/{grantId}`
    - `GET|POST|DELETE /v1/admin/assets/{id}/share-link`
    - `POST /v1/admin/assets/{id}/share-link/rotate`
    - `GET /v1/user/assets`
    - `GET /v1/user/assets/{id}/download`

servers:
  - url: https://api.evolvesprouts.com
    description: Production custom domain (when configured)
  - url: https://{restApiId}.execute-api.{region}.amazonaws.com/prod
    description: API Gateway invoke URL
    variables:
      restApiId:
        default: example
      region:
        default: ap-southeast-1

paths:
  /health:
    get:
      summary: Health check
      description: Returns backend health status and dependency checks.
      security:
        - SigV4Auth: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/admin/assets:
    get:
      summary: List admin assets
      description: Admin-only route for listing managed assets.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Case-insensitive match on title, file name, or resource key.
        - name: visibility
          in: query
          required: false
          schema:
            type: string
            enum: [public, restricted]
        - name: asset_type
          in: query
          required: false
          schema:
            type: string
            enum: [guide, video, pdf, document]
        - name: tag_name
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
          description: >
            When set, return only assets that have this tag (case-insensitive name match).
            The tag must be linked to at least one asset that matches the optional asset_type filter.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create admin asset
      description: Admin-only route for creating an asset.
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
      responses:
        "201":
          description: Asset create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Get admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Asset response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update admin asset
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAssetRequest"
      responses:
        "200":
          description: Asset update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Partially update admin asset
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialUpdateAssetRequest"
      responses:
        "200":
          description: Asset update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete admin asset
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Asset deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: List asset grants
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Grant list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetGrantListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create asset grant
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetGrantRequest"
      responses:
        "201":
          description: Grant create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetGrantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/grants/{grantId}:
    parameters:
      - $ref: "#/components/parameters/AssetId"
      - $ref: "#/components/parameters/GrantId"
    delete:
      summary: Delete asset grant
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Grant deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/share-link:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Get stable asset share link
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Existing share link returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Get or create stable asset share link
      security:
        - AdminBearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetShareLinkPolicyRequest"
      responses:
        "200":
          description: Existing share link returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "201":
          description: Share link created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Revoke stable asset share link
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Share link revoked.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/assets/{id}/share-link/rotate:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    post:
      summary: Rotate stable asset share link
      security:
        - AdminBearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetShareLinkPolicyRequest"
      responses:
        "200":
          description: Share link rotated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetShareLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/geographic-areas:
    get:
      summary: List geographic areas
      description: |
        Returns geographic areas used for address/location selection.
        Use `parent_id` to fetch direct children, or `flat=true` to return a
        flattened tree.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: parent_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: flat
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: active_only
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Geographic area list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeographicAreaListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/locations:
    get:
      summary: List locations
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: area_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: search
          in: query
          required: false
          description: Case-insensitive substring match on location name or address.
          schema:
            type: string
            maxLength: 500
      responses:
        "200":
          description: Location list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create location
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLocationRequest"
      responses:
        "201":
          description: Location create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/locations/geocode:
    post:
      summary: Geocode a venue address
      description: |
        Resolves latitude and longitude using OpenStreetMap's public geocoder via
        the AWS HTTP proxy. The free-text query uses the submitted address with
        unit/floor prefixes removed through the first comma-separated segment
        that contains ``/F`` (case-insensitive), e.g. ``G/F`` or ``5/F``. District
        and country names from the
        geographic area are not appended. The ``countrycodes`` query parameter is
        built from the root area ISO code plus the sovereign country row's code
        when ``sovereign_country_id`` is set (see ``GET /v1/admin/geographic-areas``).
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeocodeLocationRequest"
      responses:
        "200":
          description: Geocoding result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodeLocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Geocoding provider or proxy error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Geocoding is not configured (for example missing proxy or headers).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/locations/{id}:
    parameters:
      - $ref: "#/components/parameters/LocationId"
    get:
      summary: Get location
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Location response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update location
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLocationRequest"
      responses:
        "200":
          description: Location update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Partially update location
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialUpdateLocationRequest"
      responses:
        "200":
          description: Location update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete location
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Location deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/users:
    get:
      summary: List admin users
      description: Returns users in the admin Cognito group for assignee selection.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Admin user list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/instructors:
    get:
      summary: List instructor users
      description: Returns users in the instructor Cognito group for service instance assignment.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Instructor user list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads:
    get:
      summary: List sales leads
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: stage
          in: query
          required: false
          schema:
            type: string
        - name: source
          in: query
          required: false
          schema:
            type: string
        - name: lead_type
          in: query
          required: false
          schema:
            type: string
        - name: assigned_to
          in: query
          required: false
          schema:
            type: string
        - name: unassigned
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: date_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [created_at, updated_at, funnel_stage, contact_name]
            default: created_at
        - name: sort_dir
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        "200":
          description: Lead list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create sales lead
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLeadRequest"
      responses:
        "201":
          description: Lead create response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/analytics:
    get:
      summary: Lead analytics summary
      security:
        - AdminBearerAuth: []
      parameters:
        - name: date_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Lead analytics response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadAnalyticsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/export:
    get:
      summary: Export leads as CSV
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: CSV export generated.
          content:
            text/csv:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/{id}:
    parameters:
      - $ref: "#/components/parameters/LeadId"
    get:
      summary: Get lead detail
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Lead detail response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update lead stage or assignee
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLeadRequest"
      responses:
        "200":
          description: Lead update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/leads/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/LeadId"
    post:
      summary: Add lead note
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLeadNoteRequest"
      responses:
        "201":
          description: Lead note created.
          content:
            application/json:
              schema:
                type: object
                required: [note]
                properties:
                  note:
                    $ref: "#/components/schemas/LeadNote"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services:
    get:
      summary: List services
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: service_type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ServiceType"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ServiceStatus"
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Service list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create service
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceRequest"
      responses:
        "201":
          description: Service created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/instances:
    get:
      summary: List service instances across services
      description: |
        Returns instances from all services, optionally filtered by `service_type`
        and/or `service_id`. Omit both filters to include every instance type.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InstanceStatus"
        - name: service_id
          in: query
          required: false
          description: When set, only instances for this service UUID.
          schema:
            type: string
            format: uuid
        - name: service_type
          in: query
          required: false
          description: When set, only instances whose parent service has this type.
          schema:
            $ref: "#/components/schemas/ServiceType"
      responses:
        "200":
          description: Service instance list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
    get:
      summary: Get service
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Service response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update service
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateServiceRequest"
      responses:
        "200":
          description: Service response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Partially update service
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartialUpdateServiceRequest"
      responses:
        "200":
          description: Service response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete service
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Service deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/cover-image:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
    post:
      summary: Create service cover-image upload URL
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceCoverImageUploadRequest"
      responses:
        "200":
          description: Cover image upload URL response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceCoverImageUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
    get:
      summary: List service instances
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Service instance list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create service instance
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInstanceRequest"
      responses:
        "201":
          description: Service instance created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances/{instanceId}:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
      - $ref: "#/components/parameters/InstanceId"
    get:
      summary: Get service instance
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Service instance response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update service instance
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInstanceRequest"
      responses:
        "200":
          description: Service instance response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete service instance
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Service instance deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances/{instanceId}/enrollments:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
      - $ref: "#/components/parameters/InstanceId"
    get:
      summary: List instance enrollments
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Enrollment list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create instance enrollment
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrollmentRequest"
      responses:
        "201":
          description: Enrollment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/services/{id}/instances/{instanceId}/enrollments/{enrollmentId}:
    parameters:
      - $ref: "#/components/parameters/ServiceId"
      - $ref: "#/components/parameters/InstanceId"
      - $ref: "#/components/parameters/EnrollmentId"
    patch:
      summary: Update enrollment
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrollmentRequest"
      responses:
        "200":
          description: Enrollment response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete enrollment
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Enrollment deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/discount-codes:
    get:
      summary: List discount codes
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Discount code list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodeListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      summary: Create discount code
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDiscountCodeRequest"
      responses:
        "201":
          description: Discount code created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/discount-codes/{id}:
    parameters:
      - $ref: "#/components/parameters/DiscountCodeId"
    put:
      summary: Update discount code
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDiscountCodeRequest"
      responses:
        "200":
          description: Discount code response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountCodeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/contacts/tags:
    get:
      summary: List CRM tags for pickers
      description: Returns all tags sorted by name for contact/family/organization editors.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Tag list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrmTagListResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/contacts/search:
    get:
      summary: Search CRM contacts for pickers
      description: |
        Returns active contacts matching a case-insensitive substring on name, email, phone, or Instagram.
        Requires at least two characters in `query`. Intended for referral and other admin pickers.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 255
        - name: exclude_contact_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Omit this contact from results (e.g. the subject contact when choosing a referrer).
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Matching contacts as id/label rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrmPickerListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/contacts:
    get:
      summary: List CRM contacts
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Search first name, last name, email, phone, or Instagram handle.
        - name: active
          in: query
          schema:
            type: boolean
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Contact list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create CRM contact
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAdminContactRequest"
      responses:
        "201":
          description: Contact created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/AdminContactId"
    get:
      summary: Get CRM contact
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Contact response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update CRM contact
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdminContactRequest"
      responses:
        "200":
          description: Contact response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminContactResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/families/picker:
    get:
      summary: List active CRM families for pickers
      description: |
        Returns active families ordered by name for admin UI dropdowns.
        At most 100 rows unless `limit` is set lower.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Picker list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrmPickerListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/families:
    get:
      summary: List CRM families
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: active
          in: query
          schema:
            type: boolean
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Family list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFamilyListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create CRM family
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAdminFamilyRequest"
      responses:
        "201":
          description: Family created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFamilyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/families/{id}:
    parameters:
      - $ref: "#/components/parameters/AdminFamilyId"
    get:
      summary: Get CRM family
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Family response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFamilyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update CRM family
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdminFamilyRequest"
      responses:
        "200":
          description: Family response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFamilyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/families/{id}/members:
    parameters:
      - $ref: "#/components/parameters/AdminFamilyId"
    post:
      summary: Add family member
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddFamilyMemberRequest"
      responses:
        "201":
          description: Family with updated members.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFamilyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/families/{id}/members/{memberId}:
    parameters:
      - $ref: "#/components/parameters/AdminFamilyId"
      - $ref: "#/components/parameters/AdminFamilyMemberId"
    delete:
      summary: Remove family member
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Family with updated members.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFamilyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/organizations/picker:
    get:
      summary: List active CRM organisations for pickers
      description: |
        Returns active non-vendor organisations ordered by name for admin UI dropdowns.
        At most 100 rows unless `limit` is set lower.
      security:
        - AdminBearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Picker list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrmPickerListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/organizations:
    get:
      summary: List CRM organizations
      description: Lists organizations excluding vendors (vendors are under Finance).
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: active
          in: query
          schema:
            type: boolean
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Organization list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOrganizationListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create CRM organization
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAdminOrganizationRequest"
      responses:
        "201":
          description: Organization created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/organizations/{id}:
    parameters:
      - $ref: "#/components/parameters/AdminOrganizationId"
    get:
      summary: Get CRM organization
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Organization response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update CRM organization
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAdminOrganizationRequest"
      responses:
        "200":
          description: Organization response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/organizations/{id}/members:
    parameters:
      - $ref: "#/components/parameters/AdminOrganizationId"
    post:
      summary: Add organization member
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddOrganizationMemberRequest"
      responses:
        "201":
          description: Organization with updated members.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/organizations/{id}/members/{memberId}:
    parameters:
      - $ref: "#/components/parameters/AdminOrganizationId"
      - $ref: "#/components/parameters/AdminOrganizationMemberId"
    delete:
      summary: Remove organization member
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Organization with updated members.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/vendors:
    get:
      summary: List vendors
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: active
          in: query
          schema:
            type: boolean
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Vendor list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendorListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create vendor
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVendorRequest"
      responses:
        "201":
          description: Vendor created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/vendors/{id}:
    parameters:
      - $ref: "#/components/parameters/VendorId"
    get:
      summary: Get vendor
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Vendor response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update vendor
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVendorRequest"
      responses:
        "200":
          description: Vendor response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VendorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/expenses:
    get:
      summary: List expenses
      security:
        - AdminBearerAuth: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ExpenseStatus"
        - name: parse_status
          in: query
          schema:
            $ref: "#/components/schemas/ExpenseParseStatus"
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Expense list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      summary: Create expense
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExpenseRequest"
      responses:
        "201":
          description: Expense created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/admin/expenses/{id}:
    parameters:
      - $ref: "#/components/parameters/ExpenseId"
    get:
      summary: Get expense
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Expense response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update expense
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExpenseRequest"
      responses:
        "200":
          description: Expense response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/expenses/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/ExpenseId"
    post:
      summary: Soft-void an expense
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelExpenseRequest"
      responses:
        "200":
          description: Expense response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/expenses/{id}/mark-paid:
    parameters:
      - $ref: "#/components/parameters/ExpenseId"
    post:
      summary: Mark an expense as paid
      description: >
        Requires a linked vendor, invoice date, currency code, and total amount.
        Returns 400 if any of these are missing.
      security:
        - AdminBearerAuth: []
      responses:
        "200":
          description: Expense response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/expenses/{id}/reparse:
    parameters:
      - $ref: "#/components/parameters/ExpenseId"
    post:
      summary: Queue expense parse request
      security:
        - AdminBearerAuth: []
      responses:
        "202":
          description: Parse request queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionMessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/admin/expenses/{id}/amend:
    parameters:
      - $ref: "#/components/parameters/ExpenseId"
    post:
      summary: Create amendment expense record
      security:
        - AdminBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExpenseRequest"
      responses:
        "201":
          description: Amendment expense created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpenseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete discount code
      security:
        - AdminBearerAuth: []
      responses:
        "204":
          description: Discount code deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/user/assets:
    get:
      summary: List user assets
      description: Route for any authenticated Cognito user.
      security:
        - UserBearerAuth: []
      responses:
        "200":
          description: User asset list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/user/assets/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate user asset download
      security:
        - UserBearerAuth: []
      responses:
        "200":
          description: Download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    SigV4Auth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        AWS Signature Version 4 signed Authorization header (IAM auth).
    AdminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito JWT validated by AdminGroupAuthorizerFunction.
    UserBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito JWT validated by UserAuthorizerFunction.

  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Asset identifier.
    GrantId:
      name: grantId
      in: path
      required: true
      schema:
        type: string
      description: Asset grant identifier.
    LocationId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Location identifier.
    LeadId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Sales lead identifier.
    ServiceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Service identifier.
    InstanceId:
      name: instanceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Service instance identifier.
    EnrollmentId:
      name: enrollmentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Enrollment identifier.
    DiscountCodeId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Discount code identifier.
    VendorId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Vendor identifier.
    AdminContactId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: CRM contact identifier.
    AdminFamilyId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: CRM family identifier.
    AdminFamilyMemberId:
      name: memberId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Family membership row identifier.
    AdminOrganizationId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: CRM organization identifier.
    AdminOrganizationMemberId:
      name: memberId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Organization membership row identifier.
    ExpenseId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Expense identifier.

  responses:
    BadRequest:
      description: Validation or request format error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authorization failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    AssetTagRef:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        color:
          type: string
          nullable: true
          description: Optional CSS color (e.g. hex).
    Asset:
      type: object
      required:
        - id
        - title
        - asset_type
        - s3_key
        - file_name
        - visibility
        - tags
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        s3_key:
          type: string
        file_name:
          type: string
        content_type:
          type: string
          nullable: true
        resource_key:
          type: string
          nullable: true
          description: Optional normalized key used to map public media submissions to this asset.
        visibility:
          type: string
          enum: [public, restricted]
        tags:
          type: array
          items:
            $ref: "#/components/schemas/AssetTagRef"
          description: Tags on this asset. Non-admin asset list responses use an empty array when tags are not loaded.
        created_by:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
    AssetGrant:
      type: object
      required:
        - id
        - asset_id
        - grant_type
      properties:
        id:
          type: string
          format: uuid
        asset_id:
          type: string
          format: uuid
        grant_type:
          type: string
          enum: [all_authenticated, organization, user]
        grantee_id:
          type: string
          nullable: true
        granted_by:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
    AssetListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Asset"
        next_cursor:
          type: string
          nullable: true
        linked_tag_names:
          type: array
          items:
            type: string
          description: >
            Admin asset list only. Distinct tag names linked to at least one asset matching
            the request's asset_type filter (when provided). Omitted or empty when not applicable.
    AssetResponse:
      type: object
      required:
        - asset
      properties:
        asset:
          $ref: "#/components/schemas/Asset"
    AssetGrantListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AssetGrant"
    AssetGrantResponse:
      type: object
      required:
        - grant
      properties:
        grant:
          $ref: "#/components/schemas/AssetGrant"
    AssetDownloadResponse:
      type: object
      required:
        - asset_id
        - download_url
        - expires_at
      properties:
        asset_id:
          type: string
        download_url:
          type: string
          format: uri
          description: CloudFront-signed URL generated for this request.
        expires_at:
          type: string
          format: date-time
    AssetShareLinkResponse:
      type: object
      required:
        - asset_id
        - share_url
        - allowed_domains
      properties:
        asset_id:
          type: string
        share_url:
          type: string
          format: uri
          description: Stable bearer link that resolves to a fresh signed download URL.
        allowed_domains:
          type: array
          minItems: 1
          items:
            type: string
          description: Allowlisted source domains allowed to resolve this share link.
    AssetShareLinkPolicyRequest:
      type: object
      required:
        - allowed_domains
      properties:
        allowed_domains:
          type: array
          minItems: 1
          items:
            type: string
          description: |
            Domain allowlist for share-link resolution, for example
            `www.example.com`.
    FunnelStage:
      type: string
      enum: [new, contacted, engaged, qualified, converted, lost]
    LeadType:
      type: string
      enum: [free_guide, event_inquiry, program_enrollment, consultation, partnership, other]
    LeadEventType:
      type: string
      enum:
        [
          created,
          stage_changed,
          note_added,
          email_sent,
          email_opened,
          guide_downloaded,
          assigned,
          converted,
          lost,
        ]
    ContactSource:
      type: string
      enum:
        [
          free_guide,
          newsletter,
          contact_form,
          reservation,
          referral,
          instagram,
          manual,
          whatsapp,
          linkedin,
          event,
          phone_call,
          public_website,
        ]
    LeadContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        instagram_handle:
          type: string
          nullable: true
        source:
          type: string
          enum:
            [
              free_guide,
              newsletter,
              contact_form,
              reservation,
              referral,
              instagram,
              manual,
              whatsapp,
              linkedin,
              event,
              phone_call,
              public_website,
            ]
          nullable: true
        source_detail:
          type: string
          nullable: true
        contact_type:
          type: string
          nullable: true
        relationship_type:
          type: string
          nullable: true
    LeadEvent:
      type: object
      required:
        - id
        - event_type
      properties:
        id:
          type: string
          format: uuid
        event_type:
          $ref: "#/components/schemas/LeadEventType"
        from_stage:
          type: string
          enum: [new, contacted, engaged, qualified, converted, lost]
          nullable: true
        to_stage:
          type: string
          enum: [new, contacted, engaged, qualified, converted, lost]
          nullable: true
        metadata:
          type: object
          nullable: true
          additionalProperties: true
        created_by:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
    LeadNote:
      type: object
      required:
        - id
        - content
        - created_by
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true
    LeadSummary:
      type: object
      required:
        - id
        - contact
        - lead_type
        - funnel_stage
        - tags
      properties:
        id:
          type: string
          format: uuid
        contact:
          $ref: "#/components/schemas/LeadContact"
        lead_type:
          $ref: "#/components/schemas/LeadType"
        funnel_stage:
          $ref: "#/components/schemas/FunnelStage"
        assigned_to:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        converted_at:
          type: string
          format: date-time
          nullable: true
        lost_at:
          type: string
          format: date-time
          nullable: true
        lost_reason:
          type: string
          nullable: true
        days_in_stage:
          type: integer
        last_activity_at:
          type: string
          format: date-time
          nullable: true
        tags:
          type: array
          items:
            type: string
    LeadDetail:
      allOf:
        - $ref: "#/components/schemas/LeadSummary"
        - type: object
          properties:
            family:
              type: object
              nullable: true
            organization:
              type: object
              nullable: true
            events:
              type: array
              items:
                $ref: "#/components/schemas/LeadEvent"
            notes:
              type: array
              items:
                $ref: "#/components/schemas/LeadNote"
    LeadListResponse:
      type: object
      required:
        - items
        - total_count
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/LeadSummary"
        next_cursor:
          type: string
          nullable: true
        total_count:
          type: integer
    LeadDetailResponse:
      type: object
      required:
        - lead
      properties:
        lead:
          $ref: "#/components/schemas/LeadDetail"
    CreateLeadRequest:
      type: object
      required:
        - first_name
        - source
        - lead_type
      properties:
        first_name:
          type: string
        last_name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        instagram_handle:
          type: string
          nullable: true
        source:
          $ref: "#/components/schemas/ContactSource"
        source_detail:
          type: string
          nullable: true
        lead_type:
          $ref: "#/components/schemas/LeadType"
        contact_type:
          type: string
          nullable: true
        assigned_to:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
    UpdateLeadRequest:
      type: object
      minProperties: 1
      properties:
        funnel_stage:
          $ref: "#/components/schemas/FunnelStage"
        assigned_to:
          type: string
          nullable: true
        lost_reason:
          type: string
          nullable: true
    CreateLeadNoteRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: string
    LeadAnalyticsResponse:
      type: object
      required:
        - funnel
      properties:
        funnel:
          type: object
          additionalProperties:
            type: integer
        conversion_rate:
          type: number
        avg_days_to_convert:
          type: number
          nullable: true
        leads_this_week:
          type: integer
        leads_this_month:
          type: integer
        source_breakdown:
          type: object
          additionalProperties:
            type: integer
        stage_conversion_rates:
          type: object
          additionalProperties:
            type: number
        avg_days_in_stage:
          type: object
          additionalProperties:
            type: number
        leads_over_time:
          type: array
          items:
            type: object
            required: [period, count]
            properties:
              period:
                type: string
              count:
                type: integer
        assignee_stats:
          type: array
          items:
            type: object
            required: [assigned_to, total, converted, conversion_rate]
            properties:
              assigned_to:
                type: string
                nullable: true
              total:
                type: integer
              converted:
                type: integer
              conversion_rate:
                type: number
    ServiceType:
      type: string
      enum: [training_course, event, consultation]
    ServiceStatus:
      type: string
      enum: [draft, published, archived]
    ServiceDeliveryMode:
      type: string
      enum: [online, in_person, hybrid]
    TrainingFormat:
      type: string
      enum: [group, private]
    TrainingPricingUnit:
      type: string
      enum: [per_person, per_family]
    EventCategory:
      type: string
      enum: [workshop, webinar, open_house, community_meetup, other]
    ConsultationFormat:
      type: string
      enum: [one_on_one, group]
    ConsultationPricingModel:
      type: string
      enum: [free, hourly, package]
    InstanceStatus:
      type: string
      enum: [scheduled, open, full, in_progress, completed, cancelled]
    DiscountType:
      type: string
      enum: [percentage, absolute]
    EnrollmentStatus:
      type: string
      enum: [registered, waitlisted, confirmed, cancelled, completed]
    ServiceTrainingDetails:
      type: object
      properties:
        pricing_unit:
          $ref: "#/components/schemas/TrainingPricingUnit"
        default_price:
          type: string
          nullable: true
        default_currency:
          type: string
          nullable: true
    ServiceEventDetails:
      type: object
      properties:
        event_category:
          $ref: "#/components/schemas/EventCategory"
    ServiceConsultationDetails:
      type: object
      properties:
        consultation_format:
          $ref: "#/components/schemas/ConsultationFormat"
        max_group_size:
          type: integer
          nullable: true
        duration_minutes:
          type: integer
          nullable: true
        pricing_model:
          $ref: "#/components/schemas/ConsultationPricingModel"
        default_hourly_rate:
          type: string
          nullable: true
        default_package_price:
          type: string
          nullable: true
        default_package_sessions:
          type: integer
          nullable: true
        default_currency:
          type: string
          nullable: true
        calendly_url:
          type: string
          nullable: true
    ServiceSummary:
      type: object
      required:
        - id
        - service_type
        - title
        - delivery_mode
        - status
      properties:
        id:
          type: string
          format: uuid
        service_type:
          $ref: "#/components/schemas/ServiceType"
        title:
          type: string
        description:
          type: string
          nullable: true
        cover_image_s3_key:
          type: string
          nullable: true
        delivery_mode:
          $ref: "#/components/schemas/ServiceDeliveryMode"
        status:
          $ref: "#/components/schemas/ServiceStatus"
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        training_details:
          allOf:
            - $ref: "#/components/schemas/ServiceTrainingDetails"
          nullable: true
          description: Present for training_course rows when details exist.
    Service:
      allOf:
        - $ref: "#/components/schemas/ServiceSummary"
        - type: object
          properties:
            tag_ids:
              type: array
              items:
                type: string
                format: uuid
            asset_ids:
              type: array
              items:
                type: string
                format: uuid
            instances_count:
              type: integer
            training_details:
              $ref: "#/components/schemas/ServiceTrainingDetails"
            event_details:
              $ref: "#/components/schemas/ServiceEventDetails"
            consultation_details:
              $ref: "#/components/schemas/ServiceConsultationDetails"
    ServiceListResponse:
      type: object
      required: [items, total_count]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ServiceSummary"
        next_cursor:
          type: string
          nullable: true
        total_count:
          type: integer
    ServiceResponse:
      type: object
      required: [service]
      properties:
        service:
          $ref: "#/components/schemas/Service"
    CreateServiceRequest:
      type: object
      required: [service_type, title, delivery_mode]
      properties:
        service_type:
          $ref: "#/components/schemas/ServiceType"
        title:
          type: string
        description:
          type: string
          nullable: true
        cover_image_s3_key:
          type: string
          nullable: true
        delivery_mode:
          $ref: "#/components/schemas/ServiceDeliveryMode"
        status:
          $ref: "#/components/schemas/ServiceStatus"
        tag_ids:
          type: array
          items:
            type: string
            format: uuid
        asset_ids:
          type: array
          items:
            type: string
            format: uuid
        training_details:
          $ref: "#/components/schemas/ServiceTrainingDetails"
        event_details:
          $ref: "#/components/schemas/ServiceEventDetails"
        consultation_details:
          $ref: "#/components/schemas/ServiceConsultationDetails"
    UpdateServiceRequest:
      allOf:
        - $ref: "#/components/schemas/CreateServiceRequest"
    PartialUpdateServiceRequest:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
        description:
          type: string
          nullable: true
        cover_image_s3_key:
          type: string
          nullable: true
        delivery_mode:
          $ref: "#/components/schemas/ServiceDeliveryMode"
        status:
          $ref: "#/components/schemas/ServiceStatus"
        tag_ids:
          type: array
          items:
            type: string
            format: uuid
        asset_ids:
          type: array
          items:
            type: string
            format: uuid
        training_details:
          $ref: "#/components/schemas/ServiceTrainingDetails"
        event_details:
          $ref: "#/components/schemas/ServiceEventDetails"
        consultation_details:
          $ref: "#/components/schemas/ServiceConsultationDetails"
    CreateServiceCoverImageUploadRequest:
      type: object
      required: [file_name]
      properties:
        file_name:
          type: string
        content_type:
          type: string
          nullable: true
    ServiceCoverImageUploadResponse:
      type: object
      required: [upload_url, upload_method, s3_key, expires_at]
      properties:
        upload_url:
          type: string
          format: uri
        upload_method:
          type: string
        upload_headers:
          type: object
          additionalProperties:
            type: string
        s3_key:
          type: string
        expires_at:
          type: string
          format: date-time
        service:
          type: object
          properties:
            id:
              type: string
              format: uuid
            cover_image_s3_key:
              type: string
    SessionSlot:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        instance_id:
          type: string
          format: uuid
          nullable: true
        location_id:
          type: string
          format: uuid
          nullable: true
        starts_at:
          type: string
          format: date-time
          nullable: true
        ends_at:
          type: string
          format: date-time
          nullable: true
        sort_order:
          type: integer
          nullable: true
    EventTicketTier:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        instance_id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        price:
          type: string
        currency:
          type: string
        max_quantity:
          type: integer
          nullable: true
        sort_order:
          type: integer
          nullable: true
    ServiceInstance:
      type: object
      required: [id, service_id, status]
      properties:
        id:
          type: string
          format: uuid
        service_id:
          type: string
          format: uuid
        title:
          type: string
          nullable: true
        slug:
          type: string
          nullable: true
        landing_page:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        cover_image_s3_key:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/InstanceStatus"
        delivery_mode:
          $ref: "#/components/schemas/ServiceDeliveryMode"
        location_id:
          type: string
          format: uuid
          nullable: true
        max_capacity:
          type: integer
          nullable: true
        waitlist_enabled:
          type: boolean
        instructor_id:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        resolved_title:
          type: string
          nullable: true
        resolved_description:
          type: string
          nullable: true
        resolved_cover_image_s3_key:
          type: string
          nullable: true
        resolved_delivery_mode:
          type: string
          nullable: true
        session_slots:
          type: array
          items:
            $ref: "#/components/schemas/SessionSlot"
        training_details:
          type: object
          nullable: true
          properties:
            training_format:
              $ref: "#/components/schemas/TrainingFormat"
            price:
              type: string
            currency:
              type: string
            pricing_unit:
              $ref: "#/components/schemas/TrainingPricingUnit"
        event_ticket_tiers:
          type: array
          items:
            $ref: "#/components/schemas/EventTicketTier"
        consultation_details:
          type: object
          nullable: true
          properties:
            pricing_model:
              $ref: "#/components/schemas/ConsultationPricingModel"
            price:
              type: string
              nullable: true
            currency:
              type: string
            package_sessions:
              type: integer
              nullable: true
            calendly_event_url:
              type: string
              nullable: true
        parent_service_title:
          type: string
          nullable: true
          description: Parent service title (present on cross-service list responses).
        parent_service_type:
          nullable: true
          description: Parent service type (present on cross-service list responses).
          allOf:
            - $ref: "#/components/schemas/ServiceType"
    InstanceListResponse:
      type: object
      required: [items, total_count]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ServiceInstance"
        next_cursor:
          type: string
          nullable: true
        total_count:
          type: integer
    InstanceResponse:
      type: object
      required: [instance]
      properties:
        instance:
          $ref: "#/components/schemas/ServiceInstance"
    CreateInstanceRequest:
      type: object
      properties:
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        cover_image_s3_key:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/InstanceStatus"
        delivery_mode:
          $ref: "#/components/schemas/ServiceDeliveryMode"
        location_id:
          type: string
          format: uuid
          nullable: true
        max_capacity:
          type: integer
          nullable: true
        waitlist_enabled:
          type: boolean
        instructor_id:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        session_slots:
          type: array
          items:
            $ref: "#/components/schemas/SessionSlot"
        training_details:
          type: object
          nullable: true
          properties:
            training_format:
              $ref: "#/components/schemas/TrainingFormat"
            price:
              type: string
            currency:
              type: string
            pricing_unit:
              $ref: "#/components/schemas/TrainingPricingUnit"
        event_ticket_tiers:
          type: array
          items:
            $ref: "#/components/schemas/EventTicketTier"
        consultation_details:
          type: object
          nullable: true
          properties:
            pricing_model:
              $ref: "#/components/schemas/ConsultationPricingModel"
            price:
              type: string
              nullable: true
            currency:
              type: string
            package_sessions:
              type: integer
              nullable: true
            calendly_event_url:
              type: string
              nullable: true
    UpdateInstanceRequest:
      allOf:
        - $ref: "#/components/schemas/CreateInstanceRequest"
      required:
        - status
    Enrollment:
      type: object
      required: [id, instance_id, status]
      properties:
        id:
          type: string
          format: uuid
        instance_id:
          type: string
          format: uuid
        contact_id:
          type: string
          format: uuid
          nullable: true
        family_id:
          type: string
          format: uuid
          nullable: true
        organization_id:
          type: string
          format: uuid
          nullable: true
        ticket_tier_id:
          type: string
          format: uuid
          nullable: true
        discount_code_id:
          type: string
          format: uuid
          nullable: true
        status:
          $ref: "#/components/schemas/EnrollmentStatus"
        amount_paid:
          type: string
          nullable: true
        currency:
          type: string
          nullable: true
        enrolled_at:
          type: string
          format: date-time
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
          nullable: true
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
    EnrollmentListResponse:
      type: object
      required: [items, total_count]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Enrollment"
        next_cursor:
          type: string
          nullable: true
        total_count:
          type: integer
    EnrollmentResponse:
      type: object
      required: [enrollment]
      properties:
        enrollment:
          $ref: "#/components/schemas/Enrollment"
    CreateEnrollmentRequest:
      type: object
      properties:
        contact_id:
          type: string
          format: uuid
          nullable: true
        family_id:
          type: string
          format: uuid
          nullable: true
        organization_id:
          type: string
          format: uuid
          nullable: true
        ticket_tier_id:
          type: string
          format: uuid
          nullable: true
        discount_code_id:
          type: string
          format: uuid
          nullable: true
        status:
          $ref: "#/components/schemas/EnrollmentStatus"
        amount_paid:
          type: string
          nullable: true
        currency:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
    UpdateEnrollmentRequest:
      type: object
      minProperties: 1
      properties:
        status:
          $ref: "#/components/schemas/EnrollmentStatus"
        amount_paid:
          type: string
          nullable: true
        currency:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
    DiscountCode:
      type: object
      required: [id, code, discount_type, discount_value, active]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        description:
          type: string
[...]
