openapi: 3.0.3
info:
  title: Public API
  version: 0.2.6
  description: |
    Public endpoint contract.

    This spec covers:
    - Public asset endpoints exposed by the backend API stack
      (`/v1/assets/public*`, `/v1/assets/share/*`, `/v1/assets/email-download/*`,
      `/v1/assets/free`).
    - Public free-asset listing for the website (`/v1/assets/free`, `/www/v1/assets/free`).
    - Public calendar feed (`/v1/calendar/public`, `/www/v1/calendar/public`).
    - Media lead capture (`/v1/assets/free/request`, `/www/v1/assets/free/request`).
    - Public website endpoints consumed by `apps/public_www`, exposed via the
      CloudFront `/www/*` proxy allowlist in
      `backend/infrastructure/lib/public-www-stack.ts`.

servers:
  - url: https://api.evolvesprouts.com
    description: Direct API origin
  - url: https://www.evolvesprouts.com
    description: Public website (same-origin `/www/*` proxy path)
  - url: https://www-staging.evolvesprouts.com
    description: Staging public website (same-origin `/www/*` proxy path)

paths:
  /v1/assets/public:
    get:
      summary: List public assets
      description: Public asset listing route guarded by device attestation and API key.
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset list response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/public/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate public asset download
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/share/{token}:
    parameters:
      - $ref: "#/components/parameters/ShareToken"
    get:
      summary: Resolve stable asset share link
      description: |
        Public bearer endpoint that resolves a stable share token and redirects
        to a fresh CloudFront-signed download URL.
        Requests are authenticated with API key at API Gateway; CloudFront
        forwards the request and injects `x-api-key` for end users.
        Resolution is allowed only when the request carries a Referer/Origin
        header matching the asset's admin-configured domain allowlist.
        If the linked asset is `restricted`, the request must also include a
        valid Cognito JWT in the `Authorization` header.
      security:
        - ApiKeyAuth: []
      responses:
        "302":
          description: Redirect to signed download URL.
          headers:
            Location:
              description: CloudFront-signed download URL.
              schema:
                type: string
                format: uri
        "404":
          $ref: "#/components/responses/NotFound"
        "403":
          $ref: "#/components/responses/Forbidden"
        "401":
          description: Authentication required for restricted asset share links.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/email-download/{token}:
    parameters:
      - $ref: "#/components/parameters/ShareToken"
    get:
      summary: Resolve stable asset share link for email
      description: |
        Same token resolution as `/v1/assets/share/{token}` but intended for
        links opened from email clients: no Referer/Origin domain allowlist check.
        API key is still required at API Gateway; CloudFront injects `x-api-key`.
        If the linked asset is `restricted`, the request must include a valid
        Cognito JWT in the `Authorization` header.
      security:
        - ApiKeyAuth: []
      responses:
        "302":
          description: Redirect to signed download URL.
          headers:
            Location:
              description: CloudFront-signed download URL.
              schema:
                type: string
                format: uri
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          description: Authentication required for restricted asset share links.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/mailchimp/webhook:
    get:
      summary: Mailchimp webhook URL verification
      description: |
        Lightweight endpoint that Mailchimp calls with a GET request when
        validating the webhook URL during webhook creation.  Returns 200
        with no side-effects.
      responses:
        "200":
          description: Verification acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
    post:
      summary: Receive Mailchimp audience webhook event
      description: |
        Public webhook endpoint for Mailchimp audience events.
        Requests must include a shared secret token in the `token` query
        parameter, and payloads are submitted as
        `application/x-www-form-urlencoded`.
      parameters:
        - $ref: "#/components/parameters/MailchimpWebhookToken"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/MailchimpWebhookRequest"
      responses:
        "200":
          description: Webhook processed or ignored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Missing or invalid webhook token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/free:
    get:
      summary: List public free website assets
      description: |
        Lists **public** assets tagged `client_document` for the public website.
        Optional `language` filters to assets whose `content_language` matches exactly
        (BCP 47-style tag, e.g. `en`, `zh-HK`). Omitted `language` returns all matches,
        including rows with null `content_language`.
        Download files via `GET /v1/assets/public/{id}/download` (device attestation required).
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientResourceLanguage"
        - $ref: "#/components/parameters/ListLimit"
        - $ref: "#/components/parameters/ListCursor"
      responses:
        "200":
          description: Client resource list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicClientResourceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /www/v1/assets/free:
    get:
      summary: List public free website assets (website proxy path)
      description: Same as `GET /v1/assets/free` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientResourceLanguage"
        - $ref: "#/components/parameters/ListLimit"
        - $ref: "#/components/parameters/ListCursor"
      responses:
        "200":
          description: Client resource list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicClientResourceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/calendar/public:
    get:
      summary: List public calendar events
      description: |
        Event feed for public consumers (direct API).
        Source of truth is the backend `service_instances` projection for
        `service_type=event` services.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Event list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /www/v1/calendar/public:
    get:
      summary: List public website events
      description: |
        Same as `GET /v1/calendar/public` for same-origin calls from `public_www`.
        Source of truth is the backend `service_instances` projection for
        `service_type=event` services.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Event list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/discounts/validate:
    post:
      summary: Validate discount code (native)
      description: |
        Validates an admin-managed discount code against Aurora (`discount_codes`).
        Request and successful response shapes match the legacy bridge
        `POST /www/v1/legacy/discounts/validate` so clients can migrate off the
        legacy upstream without changing JSON contracts.

        Validity window: when `valid_from` / `valid_until` are set on the code, validation
        succeeds only while the server UTC instant is **on or after** `valid_from` and
        **on or before** `valid_until` (both ends inclusive).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Code not found, inactive, expired, or fully used.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/discounts/validate:
    post:
      summary: Validate discount code (native, website proxy path)
      description: |
        Same as `POST /v1/discounts/validate` for same-origin calls from `public_www`.
        Validity window boundaries are inclusive on both `valid_from` and `valid_until` (UTC).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Code not found, inactive, expired, or fully used.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/legacy/discounts/validate:
    post:
      summary: Validate discount code
      description: Validate a discount code for the public booking flow.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "202":
          description: Discount validation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /www/v1/legacy/reservations:
    post:
      summary: Submit reservation
      description: >
        Submit a public reservation request from `public_www`.

        On successful upstream acceptance (HTTP 200/202), the API also sends a
        transactional booking confirmation email via SES to the attendee when
        configured, and a plain-text **sales recap** to every verified email on
        users in the Cognito group named by `ADMIN_GROUP` (today the admin group).
        Optional marketing opt-in may enqueue a Mailchimp audience update;
        marketing failures do not change the HTTP response.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationSubmissionRequest"
      responses:
        "200":
          description: Reservation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "202":
          description: Reservation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/reservations:
    post:
      summary: Submit reservation (direct API path)
      description: >
        Submit a public reservation from `public_www` (execute-api origin).

        On success (HTTP 202), best-effort plain-text **sales recap** via SES to
        every verified email on users in the Cognito group named by
        `ADMIN_GROUP` (failures are logged; HTTP 202 is still returned). Requires
        Turnstile and payment confirmation per server rules.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicReservationSubmissionRequest"
      responses:
        "202":
          description: Reservation submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /www/v1/reservations:
    post:
      summary: Submit reservation (website proxy path)
      description: Same as `POST /v1/reservations` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicReservationSubmissionRequest"
      responses:
        "202":
          description: Reservation submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /www/v1/reservations/payment-intent:
    post:
      summary: Create reservation payment intent
      description: Create a Stripe PaymentIntent for inline booking modal payment.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationPaymentIntentRequest"
      responses:
        "200":
          description: PaymentIntent created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationPaymentIntentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "502":
          description: Upstream payment provider initialization failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/legacy/contact-us:
    post:
      summary: Submit contact-us form
      description: >
        Submit a contact-us message from `public_www`.

        On successful upstream acceptance (HTTP 200/202), the API may send a
        transactional confirmation email via SES when configured, except for
        `signup_intent` values `community_newsletter` and `event_notification`
        (those flows skip the contact confirmation email). A plain-text **sales
        recap** is emailed to every verified email on users in the Cognito group
        named by `ADMIN_GROUP` (today the admin group) for all contact-us
        intents. When `signup_intent` is `contact_inquiry` (or omitted, which
        defaults to `contact_inquiry`), an additional internal email is sent to
        `SUPPORT_EMAIL` with the inquiry details. Optional marketing opt-in may
        enqueue a Mailchimp audience update; marketing failures do not change the
        HTTP response. Locale for the confirmation email is derived from the
        `Accept-Language` header when possible (or the JSON `locale` field when
        valid).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUsSubmissionRequest"
      responses:
        "200":
          description: Contact request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "202":
          description: Contact request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/assets/free/request:
    post:
      summary: Submit media request (direct API path)
      description: >
        Submit a media lead form. Routed on the public website via CloudFront as
        `POST /www/v1/assets/free/request` (execute-api origin).

        The download link is delivered by SES (templated email). After async
        processing, a plain-text **sales recap** is emailed to every verified
        email on users in the Cognito group named by `ADMIN_GROUP`. During a
        transition period, Mailchimp may still mirror legacy journey delivery
        unless consent gating is enabled in deployment configuration.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaRequestSubmissionRequest"
      responses:
        "202":
          description: Media request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/assets/free/request:
    post:
      summary: Submit media request (website proxy path)
      description: Same as `POST /v1/assets/free/request` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaRequestSubmissionRequest"
      responses:
        "202":
          description: Media request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    DeviceAttestation:
      type: apiKey
      in: header
      name: x-device-attestation
    TurnstileToken:
      type: apiKey
      in: header
      name: X-Turnstile-Token

  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Asset identifier.
    ShareToken:
      name: token
      in: path
      required: true
      schema:
        type: string
      description: Stable bearer token for a shared asset.
    TurnstileTokenHeader:
      name: X-Turnstile-Token
      in: header
      required: true
      schema:
        type: string
      description: Cloudflare Turnstile response token.
    MailchimpWebhookToken:
      name: token
      in: query
      required: true
      schema:
        type: string
      description: Shared secret token configured for Mailchimp webhook requests.
    ClientResourceLanguage:
      name: language
      in: query
      required: false
      schema:
        type: string
        maxLength: 35
      description: |
        Filter to assets whose `content_language` equals this tag (e.g. `en`, `zh-HK`).
        When omitted, all matching public client resources are returned.
    ListLimit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Page size (default 25).
    ListCursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
        format: uuid
      description: Pagination cursor from the previous response's `next_cursor`.

  responses:
    BadRequest:
      description: Validation or request format error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authorization or verification failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    PublicAsset:
      type: object
      required:
        - id
        - title
        - asset_type
        - file_name
        - visibility
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        file_name:
          type: string
        content_type:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [public, restricted]
        updated_at:
          type: string
          format: date-time
          nullable: true
    PublicAssetListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PublicAsset"
        next_cursor:
          type: string
          nullable: true
    PublicClientResource:
      type: object
      required:
        - title
        - asset_type
      properties:
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        resource_key:
          type: string
          nullable: true
        content_language:
          type: string
          nullable: true
          description: BCP 47-style language tag for file content (e.g. en, zh-HK).
        updated_at:
          type: string
          format: date-time
          nullable: true
    PublicClientResourceListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PublicClientResource"
        next_cursor:
          type: string
          nullable: true
    PublicAssetDownloadResponse:
      type: object
      required:
        - asset_id
        - download_url
        - expires_at
      properties:
        asset_id:
          type: string
        download_url:
          type: string
          format: uri
          description: CloudFront-signed URL generated for this request.
        expires_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        detail:
          type: string
          nullable: true
    PublicCalendarEventDate:
      type: object
      required:
        - id
        - start_datetime
        - end_datetime
      properties:
        id:
          type: string
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
    PublicCalendarEvent:
      type: object
      required:
        - id
        - title
        - status
        - booking_status
        - booking_system
        - location
        - dates
      properties:
        id:
          type: string
        title:
          type: string
        summary:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [open, completed, cancelled]
        booking_status:
          type: string
          enum: [open, fully_booked]
        booking_system:
          type: string
        location:
          type: string
          enum: [virtual, physical]
        location_name:
          type: string
          nullable: true
        location_address:
          type: string
          nullable: true
        location_url:
          type: string
        external_url:
          type: string
          nullable: true
        price:
          type: number
          nullable: true
        currency:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
        slug:
          type: string
          nullable: true
        landing_page:
          type: string
          nullable: true
        spaces_total:
          type: integer
          nullable: true
        spaces_left:
          type: integer
          nullable: true
        dates:
          type: array
          items:
            $ref: "#/components/schemas/PublicCalendarEventDate"
    PublicCalendarEventsResponse:
      type: object
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/PublicCalendarEvent"
    DiscountValidationRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          maxLength: 100
    DiscountRule:
      type: object
      additionalProperties: false
      required:
        - code
        - amount
        - is_percentage
        - currency_code
        - currency_symbol
      properties:
        code:
          type: string
        name:
          type: string
          nullable: true
        amount:
          type: number
        is_percentage:
          type: boolean
        currency_code:
          type: string
          nullable: true
        currency_symbol:
          type: string
          nullable: true
    DiscountValidationResponse:
      type: object
      additionalProperties: false
      required:
        - valid
        - is_valid
        - data
        - discount
      properties:
        valid:
          type: boolean
        is_valid:
          type: boolean
        data:
          oneOf:
            - $ref: "#/components/schemas/DiscountRule"
            - type: array
              items:
                $ref: "#/components/schemas/DiscountRule"
        discount:
          $ref: "#/components/schemas/DiscountRule"
    ReservationSubmissionRequest:
      type: object
      required:
        - full_name
        - email
        - phone_number
        - cohort_age
        - cohort_date
        - price
        - reservation_pending_until_payment_confirmed
        - agreed_to_terms_and_conditions
        - payment_method
      properties:
        full_name:
          type: string
          maxLength: 200
        email:
          type: string
          format: email
        phone_number:
          type: string
          maxLength: 40
        cohort_age:
          type: string
          maxLength: 200
        cohort_date:
          type: string
          description: Cohort date in ISO format (YYYY-MM-DD).
        comments:
          type: string
          maxLength: 1000
        comments_field_label:
          type: string
          maxLength: 200
          description: >
            Optional label for the free-text question field (e.g. topics interest).
            Included in the internal sales recap email so the answer is attributed to
            the correct form prompt.
        discount_code:
          type: string
          maxLength: 100
        price:
          type: number
          minimum: 0
          maximum: 1000000
        reservation_pending_until_payment_confirmed:
          type: boolean
        agreed_to_terms_and_conditions:
          type: boolean
        payment_method:
          type: string
          description: >
            How the attendee will pay. Values match the public booking modal
            (FPS QR, bank transfer, or Stripe).
          enum:
            - fps_qr
            - bank_transfer
            - stripe
        stripe_payment_intent_id:
          type: string
          description: Required when payment method is Stripe/card-wallet flow.
          pattern: '^pi_[A-Za-z0-9]+$'
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, subscribe the attendee to marketing (Mailchimp) with a booking tag.
        locale:
          type: string
          description: Public website locale for SES booking confirmation template selection.
          enum:
            - en
            - zh-CN
            - zh-HK
        course_label:
          type: string
          maxLength: 500
          description: Human-readable course or event title for confirmation email context.
        service_key:
          type: string
          maxLength: 120
          description: >
            Stable machine identifier for the booked offering (e.g. event or cohort id).
            Used with course_slug to build the Mailchimp audience tag
            public-www-booking-customer-{slug}; omitted values fall back to course_slug or unknown.
        course_slug:
          type: string
          maxLength: 120
          description: >
            Optional stable slug for the course or product line when service_key is absent.
        schedule_date_label:
          type: string
          maxLength: 500
        schedule_time_label:
          type: string
          maxLength: 500
        consultation_writing_focus_label:
          type: string
          maxLength: 500
          description: >
            Optional consultation booking: writing focus title shown in the booking
            confirmation email Details row.
        consultation_level_label:
          type: string
          maxLength: 500
          description: >
            Optional consultation booking: level title shown in the booking confirmation
            email Details row.
        location_name:
          type: string
          maxLength: 500
        location_address:
          type: string
          maxLength: 500
          description: >
            Optional second line for the venue address. When present with location_name,
            the booking confirmation email shows "venue, address".
        primary_session_start_iso:
          type: string
          maxLength: 100
          description: >
            Optional ISO 8601 start datetime of the primary booked session. When the
            venue appears to be in Hong Kong, the confirmation email formats date and
            time in HKT from this value.
        fps_qr_image_data_url:
          type: string
          maxLength: 50000
          description: >
            Optional PNG image as a data URL (data:image/png;base64,...) matching the
            FPS QR shown in the public booking modal. When payment is pending and
            payment_method is fps_qr, the API may embed this image in the booking
            confirmation email.
    PublicReservationSubmissionRequest:
      type: object
      required:
        - attendeeName
        - attendeeEmail
        - attendeePhone
        - childAgeGroup
        - packageLabel
        - monthLabel
        - paymentMethod
        - totalAmount
        - courseLabel
      properties:
        attendeeName:
          type: string
          maxLength: 200
        attendeeEmail:
          type: string
          format: email
        attendeePhone:
          type: string
          maxLength: 40
        childAgeGroup:
          type: string
          maxLength: 200
        packageLabel:
          type: string
          maxLength: 200
        monthLabel:
          type: string
          maxLength: 200
        paymentMethod:
          type: string
          maxLength: 100
        totalAmount:
          type: number
          minimum: 0
          maximum: 1000000
        courseLabel:
          type: string
          maxLength: 200
        stripe_payment_intent_id:
          type: string
          maxLength: 200
          description: Required when payment method implies Stripe; PaymentIntent id.
          pattern: '^pi_[A-Za-z0-9]+$'
        scheduleDateLabel:
          type: string
          maxLength: 200
        scheduleTimeLabel:
          type: string
          maxLength: 200
        interestedTopics:
          type: string
          maxLength: 1000
        commentsFieldLabel:
          type: string
          maxLength: 200
          description: >
            Label for the free-text question field as shown to the user. Included in the
            internal sales recap email next to their answer.
        consultationWritingFocusLabel:
          type: string
          maxLength: 200
          description: >
            Consultation booking: writing focus title for confirmation and sales recap.
        consultationLevelLabel:
          type: string
          maxLength: 200
          description: >
            Consultation booking: level title for confirmation and sales recap.
    ReservationPaymentIntentRequest:
      type: object
      required:
        - cohort_age
        - cohort_date
        - price
      properties:
        cohort_age:
          type: string
          maxLength: 200
        cohort_date:
          type: string
          maxLength: 100
        discount_code:
          type: string
          maxLength: 100
        price:
          type: number
          minimum: 0
          maximum: 1000000
    ReservationPaymentIntentResponse:
      type: object
      required:
        - payment_intent_id
        - client_secret
      properties:
        payment_intent_id:
          type: string
        client_secret:
          type: string
    ContactUsSubmissionRequest:
      type: object
      required:
        - first_name
        - email_address
        - message
      properties:
        first_name:
          type: string
          maxLength: 200
        email_address:
          type: string
          format: email
          maxLength: 320
        phone_number:
          type: string
          maxLength: 40
        message:
          type: string
          maxLength: 5000
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, subscribe the contact to marketing (Mailchimp) with a flow-specific tag.
        signup_intent:
          type: string
          description: >
            Distinguishes contact-us submissions for Mailchimp tagging. For community_newsletter and
            event_notification, the matching public-www-* tag is used when marketing_opt_in is true;
            contact_inquiry uses marketing_opt_in with public-www-contact-inquiry. Omitted value is
            treated as contact_inquiry. Intents community_newsletter and event_notification do not
            trigger the SES contact confirmation email (only contact_inquiry does, when first_name is present).
          enum:
            - contact_inquiry
            - community_newsletter
            - event_notification
        locale:
          type: string
          description: Public website route locale for SES confirmation template selection (falls back to Accept-Language when omitted).
          enum:
            - en
            - zh-CN
            - zh-HK
    MediaRequestSubmissionRequest:
      type: object
      required:
        - first_name
        - email
      properties:
        first_name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
          maxLength: 320
        resource_key:
          type: string
          maxLength: 200
          description: Optional free-resource identifier used for downstream CRM tagging.
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, trigger the shared welcome marketing journey after subscribe (when configured).
        locale:
          type: string
          description: Public website locale for SES template selection.
          enum:
            - en
            - zh-CN
            - zh-HK
    MailchimpWebhookRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [subscribe, unsubscribe, cleaned, profile, upemail]
        "data[email]":
          type: string
          format: email
          maxLength: 320
        "data[new_email]":
          type: string
          format: email
          maxLength: 320
        "data[id]":
          type: string
          maxLength: 64
    ReservationSubmissionAccepted:
      type: object
      required:
        - message
      properties:
        message:
          type: string
