openapi: 3.0.3
info:
  title: Public API
  version: 0.2.7
  description: |
    Public endpoint contract.

    This spec covers:
    - Public asset endpoints exposed by the backend API stack
      (`/v1/assets/public*`, `/v1/assets/share/*`, `/v1/assets/email-download/*`,
      `/v1/assets/free`).
    - Public free-asset listing for the website (`/v1/assets/free`, `/www/v1/assets/free`).
    - Public calendar feed (`/v1/calendar/public`, `/www/v1/calendar/public`).
    - Media lead capture (`/v1/assets/free/request`, `/www/v1/assets/free/request`).
    - Public website endpoints consumed by `apps/public_www`, exposed via the
      CloudFront `/www/*` proxy allowlist in
      `backend/infrastructure/lib/public-www-stack.ts`.

servers:
  - url: https://api.evolvesprouts.com
    description: Direct API origin
  - url: https://www.evolvesprouts.com
    description: Public website (same-origin `/www/*` proxy path)
  - url: https://www-staging.evolvesprouts.com
    description: Staging public website (same-origin `/www/*` proxy path)

paths:
  /v1/assets/public:
    get:
      summary: List public assets
      description: Public asset listing route guarded by device attestation and API key.
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset list response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/public/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate public asset download
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/share/{token}:
    parameters:
      - $ref: "#/components/parameters/ShareToken"
    get:
      summary: Resolve stable asset share link
      description: |
        Public bearer endpoint that resolves a stable share token and redirects
        to a fresh CloudFront-signed download URL.
        Requests are authenticated with API key at API Gateway; CloudFront
        forwards the request and injects `x-api-key` for end users.
        Resolution is allowed only when the request carries a Referer/Origin
        header matching the asset's admin-configured domain allowlist.
        If the linked asset is `restricted`, the request must also include a
        valid Cognito JWT in the `Authorization` header.
      security:
        - ApiKeyAuth: []
      responses:
        "302":
          description: Redirect to signed download URL.
          headers:
            Location:
              description: CloudFront-signed download URL.
              schema:
                type: string
                format: uri
        "404":
          $ref: "#/components/responses/NotFound"
        "403":
          $ref: "#/components/responses/Forbidden"
        "401":
          description: Authentication required for restricted asset share links.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/email-download/{token}:
    parameters:
      - $ref: "#/components/parameters/ShareToken"
    get:
      summary: Resolve stable asset share link for email
      description: |
        Same token resolution as `/v1/assets/share/{token}` but intended for
        links opened from email clients: no Referer/Origin domain allowlist check.
        API key is still required at API Gateway; CloudFront injects `x-api-key`.
        If the linked asset is `restricted`, the request must include a valid
        Cognito JWT in the `Authorization` header.
      security:
        - ApiKeyAuth: []
      responses:
        "302":
          description: Redirect to signed download URL.
          headers:
            Location:
              description: CloudFront-signed download URL.
              schema:
                type: string
                format: uri
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          description: Authentication required for restricted asset share links.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/mailchimp/webhook:
    get:
      summary: Mailchimp webhook URL verification
      description: |
        Lightweight endpoint that Mailchimp calls with a GET request when
        validating the webhook URL during webhook creation.  Returns 200
        with no side-effects.
      responses:
        "200":
          description: Verification acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
    post:
      summary: Receive Mailchimp audience webhook event
      description: |
        Public webhook endpoint for Mailchimp audience events.
        Requests must include a shared secret token in the `token` query
        parameter, and payloads are submitted as
        `application/x-www-form-urlencoded`.
      parameters:
        - $ref: "#/components/parameters/MailchimpWebhookToken"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/MailchimpWebhookRequest"
      responses:
        "200":
          description: Webhook processed or ignored.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Missing or invalid webhook token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/free:
    get:
      summary: List public free website assets
      description: |
        Lists **public** assets tagged `client_document` for the public website.
        Optional `language` filters to assets whose `content_language` matches exactly
        (BCP 47-style tag, e.g. `en`, `zh-HK`). Omitted `language` returns all matches,
        including rows with null `content_language`.
        Download files via `GET /v1/assets/public/{id}/download` (device attestation required).
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientResourceLanguage"
        - $ref: "#/components/parameters/ListLimit"
        - $ref: "#/components/parameters/ListCursor"
      responses:
        "200":
          description: Client resource list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicClientResourceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /www/v1/assets/free:
    get:
      summary: List public free website assets (website proxy path)
      description: Same as `GET /v1/assets/free` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/ClientResourceLanguage"
        - $ref: "#/components/parameters/ListLimit"
        - $ref: "#/components/parameters/ListCursor"
      responses:
        "200":
          description: Client resource list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicClientResourceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/calendar/public:
    get:
      summary: List public calendar events
      description: |
        Calendar feed for public consumers (direct API).
        Source of truth is the backend `service_instances` projection for
        published `event` and `training_course` services (consultation is never
        included). Results are ordered by the earliest upcoming session slot,
        then `service_instances.id` for a stable tie-break.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: service_type
          in: query
          required: false
          schema:
            type: string
            enum: [event, training_course]
          description: >
            Restrict feed to one service type. Omitted = both event and
            training_course are returned. Consultation is never exposed.
        - name: landing_page
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
            pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Filter results to at most one instance whose
            `service_instances.landing_page` matches the provided slug.
            Invalid or empty values are silently ignored.
      responses:
        "200":
          description: Event list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /www/v1/calendar/public:
    get:
      summary: List public website events
      description: |
        Same as `GET /v1/calendar/public` for same-origin calls from `public_www`.
        Source of truth is the backend `service_instances` projection for
        published `event` and `training_course` services (consultation is never
        included). Results are ordered by the earliest upcoming session slot,
        then `service_instances.id` for a stable tie-break.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: service_type
          in: query
          required: false
          schema:
            type: string
            enum: [event, training_course]
          description: >
            Restrict feed to one service type. Omitted = both event and
            training_course are returned. Consultation is never exposed.
        - name: landing_page
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
            pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          description: >
            Filter results to at most one instance whose
            `service_instances.landing_page` matches the provided slug.
            Invalid or empty values are silently ignored.
      responses:
        "200":
          description: Event list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCalendarEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/discounts/validate:
    post:
      summary: Validate discount code (native)
      description: |
        Validates an admin-managed discount code against Aurora (`discount_codes`).
        Request and successful response shapes match historical public booking clients.

        Validity window: when `valid_from` / `valid_until` are set on the code, validation
        succeeds only while the server UTC instant is **on or after** `valid_from` and
        **on or before** `valid_until` (both ends inclusive).

        **Service scoping:** codes may be limited to a service and/or instance in Aurora.
        Unscoped codes (no `service_id` / `instance_id`) validate regardless of
        `service_key` (unknown slugs are ignored). When the code is scoped to a
        **service only**, the request must include a matching `service_key` (matched
        case-insensitively against `services.slug`) or a matching `service_id` UUID; if
        both are supplied, `service_key` wins for resolving the request service. When the
        code is scoped to an **instance**, the request must include `service_instance_id`
        equal to the code's instance; `service_key` is optional and not used to reject
        unknown slugs. Otherwise this endpoint returns **404** (same generic message as
        inactive codes).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Code not found, inactive, expired, or fully used.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/discounts/validate:
    post:
      summary: Validate discount code (native, website proxy path)
      description: |
        Same as `POST /v1/discounts/validate` for same-origin calls from `public_www`.
        Validity window boundaries are inclusive on both `valid_from` and `valid_until` (UTC).
        Service and instance scoping rules match the `/v1/discounts/validate` description.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Code not found, inactive, expired, or fully used.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/contact-us:
    post:
      summary: Submit contact-us form (direct API path)
      description: >
        Accepts contact-us, community newsletter, and event-notification signups from
        `public_www`. Requires Turnstile. Persists to Aurora (contact; sales lead
        for `contact_inquiry` only), then runs best-effort SES confirmation (skipped
        for newsletter/event-notification intents), optional Mailchimp subscribe,
        sales recap, and `SUPPORT_EMAIL` notification for `contact_inquiry`.
        Returns **500** when persistence fails. If hooks fail after commit, the API
        still returns **202** (data is saved).
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUsSubmissionRequest"
      responses:
        "202":
          description: Contact submission accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/contact-us:
    post:
      summary: Submit contact-us form (website proxy path)
      description: Same as `POST /v1/contact-us` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUsSubmissionRequest"
      responses:
        "202":
          description: Contact submission accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/reservations:
    post:
      summary: Submit reservation (direct API path)
      description: >
        Submit a public reservation from `public_www` (execute-api origin).

        Persists the attendee as a CRM contact and creates a program-enrollment
        sales lead, then returns **202** on success. Best-effort SES booking
        confirmation to the attendee, optional Mailchimp subscribe, and plain-text
        **sales recap** to `ADMIN_GROUP` verified emails run after commit (hook
        failures are logged; HTTP **202** is still returned). Returns **500** when
        Aurora persistence fails. Requires Turnstile, `agreedToTermsAndConditions:
        true`, and Stripe PaymentIntent verification when the payment method implies
        Stripe.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicReservationSubmissionRequest"
      responses:
        "202":
          description: Reservation submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/reservations:
    post:
      summary: Submit reservation (website proxy path)
      description: Same as `POST /v1/reservations` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicReservationSubmissionRequest"
      responses:
        "202":
          description: Reservation submitted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          description: Persistence failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/reservations/payment-intent:
    post:
      summary: Create reservation payment intent
      description: Create a Stripe PaymentIntent for inline booking modal payment.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationPaymentIntentRequest"
      responses:
        "200":
          description: PaymentIntent created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationPaymentIntentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "502":
          description: Upstream payment provider initialization failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/assets/free/request:
    post:
      summary: Submit media request (direct API path)
      description: >
        Submit a media lead form. Routed on the public website via CloudFront as
        `POST /www/v1/assets/free/request` (execute-api origin).

        The download link is delivered by SES (templated email). After async
        processing, a plain-text **sales recap** is emailed to every verified
        email on users in the Cognito group named by `ADMIN_GROUP`. Optional
        Mailchimp subscribe + journey triggers respect `MAILCHIMP_REQUIRE_MARKETING_CONSENT`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaRequestSubmissionRequest"
      responses:
        "202":
          description: Media request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /www/v1/assets/free/request:
    post:
      summary: Submit media request (website proxy path)
      description: Same as `POST /v1/assets/free/request` for same-origin calls from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaRequestSubmissionRequest"
      responses:
        "202":
          description: Media request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "405":
          description: Method not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    DeviceAttestation:
      type: apiKey
      in: header
      name: x-device-attestation
    TurnstileToken:
      type: apiKey
      in: header
      name: X-Turnstile-Token

  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Asset identifier.
    ShareToken:
      name: token
      in: path
      required: true
      schema:
        type: string
      description: Stable bearer token for a shared asset.
    TurnstileTokenHeader:
      name: X-Turnstile-Token
      in: header
      required: true
      schema:
        type: string
      description: Cloudflare Turnstile response token.
    MailchimpWebhookToken:
      name: token
      in: query
      required: true
      schema:
        type: string
      description: Shared secret token configured for Mailchimp webhook requests.
    ClientResourceLanguage:
      name: language
      in: query
      required: false
      schema:
        type: string
        maxLength: 35
      description: |
        Filter to assets whose `content_language` equals this tag (e.g. `en`, `zh-HK`).
        When omitted, all matching public client resources are returned.
    ListLimit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Page size (default 25).
    ListCursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
        format: uuid
      description: Pagination cursor from the previous response's `next_cursor`.

  responses:
    BadRequest:
      description: Validation or request format error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authorization or verification failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    PublicAsset:
      type: object
      required:
        - id
        - title
        - asset_type
        - file_name
        - visibility
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        file_name:
          type: string
        content_type:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [public, restricted]
        updated_at:
          type: string
          format: date-time
          nullable: true
    PublicAssetListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PublicAsset"
        next_cursor:
          type: string
          nullable: true
    PublicClientResource:
      type: object
      required:
        - title
        - asset_type
      properties:
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        resource_key:
          type: string
          nullable: true
        content_language:
          type: string
          nullable: true
          description: BCP 47-style language tag for file content (e.g. en, zh-HK).
        updated_at:
          type: string
          format: date-time
          nullable: true
    PublicClientResourceListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PublicClientResource"
        next_cursor:
          type: string
          nullable: true
    PublicAssetDownloadResponse:
      type: object
      required:
        - asset_id
        - download_url
        - expires_at
      properties:
        asset_id:
          type: string
        download_url:
          type: string
          format: uri
          description: CloudFront-signed URL generated for this request.
        expires_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        detail:
          type: string
          nullable: true
    PublicCalendarEventDate:
      type: object
      required:
        - id
        - start_datetime
        - end_datetime
      properties:
        id:
          type: string
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
    PublicCalendarEvent:
      type: object
      required:
        - id
        - service_instance_id
        - service_type
        - title
        - status
        - booking_status
        - is_fully_booked
        - location
        - location_url
        - dates
        - tags
        - categories
        - partners
      properties:
        id:
          type: string
          description: >
            Public slug when `service_instances.slug` is set, otherwise the
            instance UUID as string.
        service_instance_id:
          type: string
          format: uuid
          description: Aurora `service_instances.id`. Stable even when the `id` alias changes.
        service_type:
          type: string
          enum: [event, training_course]
        title:
          type: string
        summary:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [open, completed, cancelled]
        booking_status:
          type: string
          enum: [open, fully_booked]
        is_fully_booked:
          type: boolean
          description: Mirrors `booking_status == "fully_booked"`.
        booking_system:
          type: string
          description: >
            Resolved booking-system key. Derived from `services.booking_system` when
            set; otherwise defaults to `event-booking` for events and
            `my-best-auntie-booking` for the My Best Auntie training course service.
            Omitted from the JSON object when no default applies (not `null`).
        location:
          type: string
          enum: [virtual, physical]
        location_name:
          type: string
          nullable: true
          description: Venue display name; derivation matches `location_url`.
        location_address:
          type: string
          nullable: true
          description: Venue address line; derivation matches `location_url`.
        location_url:
          type: string
          description: >
            Google Maps directions URL derived server-side from venue coordinates
            when available, otherwise from the URL-encoded address. Empty string
            for virtual offerings or when no location metadata is on file. Location fields
            resolve from the primary session slot's location when set, otherwise from the
            instance's location, otherwise from the parent service's location.
        external_url:
          type: string
          nullable: true
          description: >
            Optional external registration URL. Uses
            `service_instances.external_url` when set, falling back to
            `service_instances.eventbrite_event_url` for backward compatibility.
        price:
          type: number
          nullable: true
        currency:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          description: >
            Alphabetically ordered display tag names from
            `service_instance_tags`. Does not include service-level CRM tags.
        categories:
          type: array
          items:
            type: string
          description: >
            Single-element for events (derived from `event_details.event_category`)
            or `["Training Course"]` for training courses. May be an empty array for
            events when `event_details` has not been set (unexpected in normal data).
        partners:
          type: array
          items:
            type: string
          description: >
            Partner organization slugs linked via
            `service_instance_organizations`, ordered by `sort_order`.
        slug:
          type: string
          nullable: true
        landing_page:
          type: string
          nullable: true
        service_tier:
          type: string
          nullable: true
        cohort:
          type: string
          nullable: true
        spaces_total:
          type: integer
          nullable: true
        spaces_left:
          type: integer
          nullable: true
        dates:
          type: array
          items:
            $ref: "#/components/schemas/PublicCalendarEventDate"
    PublicCalendarEventsResponse:
      type: object
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/PublicCalendarEvent"
        items:
          type: array
          deprecated: true
          description: >
            Deprecated alias of `events` for older clients. Prefer `events`.
          items:
            $ref: "#/components/schemas/PublicCalendarEvent"
    DiscountValidationRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          maxLength: 100
        service_key:
          type: string
          maxLength: 120
          description: >
            Public slug for the booked offering (e.g. `my-best-auntie`). Matched
            case-insensitively against `services.slug` in Aurora. When both `service_key`
            and `service_id` are provided, `service_key` takes precedence.
        service_id:
          type: string
          format: uuid
          description: >
            Alternative to `service_key`: explicit Aurora `services.id` for scope checks.
            Ignored when `service_key` is present and non-empty.
        service_instance_id:
          type: string
          format: uuid
          description: >
            Aurora `service_instances.id`. Required for validating instance-scoped discount
            codes; must match the code's `instance_id`.
    DiscountRule:
      type: object
      additionalProperties: false
      required:
        - code
        - amount
        - is_percentage
        - currency_code
        - currency_symbol
      properties:
        code:
          type: string
        name:
          type: string
          nullable: true
        amount:
          type: number
        is_percentage:
          type: boolean
        currency_code:
          type: string
          nullable: true
        currency_symbol:
          type: string
          nullable: true
    DiscountValidationResponse:
      type: object
      additionalProperties: false
      required:
        - valid
        - is_valid
        - data
        - discount
      properties:
        valid:
          type: boolean
        is_valid:
          type: boolean
        data:
          oneOf:
            - $ref: "#/components/schemas/DiscountRule"
            - type: array
              items:
                $ref: "#/components/schemas/DiscountRule"
        discount:
          $ref: "#/components/schemas/DiscountRule"
    ReservationSubmissionRequest:
      type: object
      required:
        - full_name
        - email
        - phone_number
        - cohort_age
        - cohort_date
        - price
        - reservation_pending_until_payment_confirmed
        - agreed_to_terms_and_conditions
        - payment_method
      properties:
        full_name:
          type: string
          maxLength: 200
        email:
          type: string
          format: email
        phone_number:
          type: string
          maxLength: 40
        phone_country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: "^[A-Z]{2}$"
          nullable: true
          description: >
            Optional ISO 3166-1 alpha-2 region for parsing `phone_number`. When omitted, the
            API uses the configured default phone region (production default HK).
        cohort_age:
          type: string
          maxLength: 200
        cohort_date:
          type: string
          description: Cohort date in ISO format (YYYY-MM-DD).
        comments:
          type: string
          maxLength: 1000
        comments_field_label:
          type: string
          maxLength: 200
          description: >
            Optional label for the free-text question field (e.g. topics interest).
            Included in the internal sales recap email so the answer is attributed to
            the correct form prompt.
        discount_code:
          type: string
          maxLength: 100
        price:
          type: number
          minimum: 0
          maximum: 1000000
        reservation_pending_until_payment_confirmed:
          type: boolean
        agreed_to_terms_and_conditions:
          type: boolean
        payment_method:
          type: string
          description: >
            How the attendee will pay. Values match the public booking modal
            (FPS QR, bank transfer, Stripe, or `free` when the post-discount total is zero).
            When `free`, `price` must be 0, `stripe_payment_intent_id` and `fps_qr_image_data_url`
            must be omitted, and `reservation_pending_until_payment_confirmed` is always false.
            Confirmation email and thank-you recap omit the payment row and show Total as Free.
          enum:
            - fps_qr
            - bank_transfer
            - stripe
            - free
        stripe_payment_intent_id:
          type: string
          description: Required when payment method is Stripe/card-wallet flow.
          pattern: '^pi_[A-Za-z0-9]+$'
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, subscribe the attendee to marketing (Mailchimp) with a booking tag.
        locale:
          type: string
          description: Public website locale for SES booking confirmation template selection.
          enum:
            - en
            - zh-CN
            - zh-HK
        course_label:
          type: string
          maxLength: 500
          description: Human-readable course or event title for confirmation email context.
        service_key:
          type: string
          maxLength: 120
          description: >
            Stable machine identifier for the booked offering (e.g. event or cohort id).
            Used with course_slug to build the Mailchimp audience tag
            public-www-booking-customer-{slug}; omitted values fall back to course_slug or unknown.
        course_slug:
          type: string
          maxLength: 120
          description: >
            Optional stable slug for the course or product line when service_key is absent.
        schedule_date_label:
          type: string
          maxLength: 500
        schedule_time_label:
          type: string
          maxLength: 500
        consultation_writing_focus_label:
          type: string
          maxLength: 500
          description: >
            Optional consultation booking: writing focus title shown in the booking
            confirmation email Details row.
        consultation_level_label:
          type: string
          maxLength: 500
          description: >
            Optional consultation booking: level title shown in the booking confirmation
            email Details row.
        location_name:
          type: string
          maxLength: 500
        location_address:
          type: string
          maxLength: 500
          description: >
            Optional second line for the venue address. When present with location_name,
            the booking confirmation email shows "venue, address".
        primary_session_start_iso:
          type: string
          maxLength: 100
          description: >
            Optional ISO 8601 start datetime of the primary booked session. When the
            venue appears to be in Hong Kong, the confirmation email formats date and
            time in HKT from this value.
        primary_session_end_iso:
          type: string
          maxLength: 100
          description: >
            Optional ISO 8601 end datetime of the primary booked session. When present
            with primary_session_start_iso, the booking confirmation email may set the
            calendar attachment (ICS) event end time to this value.
        fps_qr_image_data_url:
          type: string
          maxLength: 50000
          description: >
            Optional PNG image as a data URL (data:image/png;base64,...) matching the
            FPS QR shown in the public booking modal. When payment is pending and
            payment_method is fps_qr, the API may embed this image in the booking
            confirmation email.
    PublicReservationSubmissionRequest:
      type: object
      required:
        - attendeeName
        - attendeeEmail
        - attendeePhone
        - paymentMethod
        - totalAmount
        - courseLabel
        - agreedToTermsAndConditions
      properties:
        attendeeName:
          type: string
          maxLength: 200
        attendeeEmail:
          type: string
          format: email
        attendeePhone:
          type: string
          maxLength: 40
        attendeeCountry:
          type: string
          minLength: 2
          maxLength: 2
          pattern: "^[A-Z]{2}$"
          nullable: true
          description: >
            Optional ISO 3166-1 alpha-2 region for parsing `attendeePhone`. When omitted, the
            API uses the configured default phone region (production default HK).
        childAgeGroup:
          type: string
          maxLength: 200
          description: >
            Optional; event flows without an age selector may omit it. Age-gated flows
            (for example My Best Auntie or consultation) should send the selected label.
        packageLabel:
          type: string
          maxLength: 200
        monthLabel:
          type: string
          maxLength: 200
        paymentMethod:
          type: string
          maxLength: 100
          description: >
            Machine payment code. Accepted values include `fps_qr`, `bank_transfer`, `stripe`,
            and `free` (zero-total booking after discounts). The API rejects `free` when
            `totalAmount` is not 0, rejects `totalAmount` 0 unless `paymentMethod` is `free`,
            and normalizes `reservationPendingUntilPaymentConfirmed` to false when `paymentMethod`
            is `free`. Omit `stripePaymentIntentId` and `fpsQrImageDataUrl` for free bookings.
        totalAmount:
          type: number
          minimum: 0
          maximum: 1000000
        courseLabel:
          type: string
          maxLength: 200
        stripePaymentIntentId:
          type: string
          maxLength: 200
          description: Required when payment method implies Stripe; PaymentIntent id.
          pattern: '^pi_[A-Za-z0-9]+$'
        scheduleDateLabel:
          type: string
          maxLength: 200
        scheduleTimeLabel:
          type: string
          maxLength: 200
        interestedTopics:
          type: string
          maxLength: 1000
        commentsFieldLabel:
          type: string
          maxLength: 200
          description: >
            Label for the free-text question field as shown to the user. Included in the
            internal sales recap email next to their answer.
        consultationWritingFocusLabel:
          type: string
          maxLength: 200
          description: >
            Consultation booking: writing focus title for confirmation and sales recap.
        consultationLevelLabel:
          type: string
          maxLength: 200
          description: >
            Consultation booking: level title for confirmation and sales recap.
        cohortDate:
          type: string
          maxLength: 100
          description: Optional cohort or session date label (YYYY-MM-DD or display string).
        discountCode:
          type: string
          maxLength: 100
        serviceInstanceId:
          type: string
          format: uuid
          description: >
            Aurora `service_instances.id` for the booked cohort/instance. Required when
            redeeming an instance-scoped discount code; used only for redemption checks.
        marketingOptIn:
          type: boolean
          default: false
        locale:
          type: string
          enum:
            - en
            - zh-CN
            - zh-HK
        serviceKey:
          type: string
          maxLength: 100
        courseSlug:
          type: string
          maxLength: 100
        service:
          type: string
          maxLength: 100
          enum:
            - event
            - training-course
            - consultation
          description: >
            Optional high-level booking category for localized confirmation email copy.
            When omitted, the booking confirmation email uses `courseLabel` for the Service row.
        locationName:
          type: string
          maxLength: 200
        locationAddress:
          type: string
          maxLength: 300
        locationUrl:
          type: string
          maxLength: 500
          format: uri
        primarySessionStartIso:
          type: string
          maxLength: 50
        primarySessionEndIso:
          type: string
          maxLength: 50
        courseSessions:
          type: array
          items:
            type: object
            required:
              - startIso
            properties:
              startIso:
                type: string
                maxLength: 50
              endIso:
                type: string
                maxLength: 50
        fpsQrImageDataUrl:
          type: string
          maxLength: 120000
          description: >
            Optional PNG data URL for FPS QR when payment is pending (fps_qr).
        reservationPendingUntilPaymentConfirmed:
          type: boolean
        agreedToTermsAndConditions:
          type: boolean
    ReservationPaymentIntentRequest:
      type: object
      required:
        - cohort_age
        - cohort_date
        - price
      properties:
        cohort_age:
          type: string
          maxLength: 200
        cohort_date:
          type: string
          maxLength: 100
        discount_code:
          type: string
          maxLength: 100
        service_key:
          type: string
          maxLength: 100
          description: >
            Optional public service slug for Stripe `metadata.service_key` (e.g.
            `my-best-auntie`); not used for discount scope validation on this endpoint.
        cohort_id:
          type: string
          maxLength: 120
          description: >
            Optional cohort identifier for Stripe `metadata.cohort_id` (e.g. content
            cohort key).
        price:
          type: number
          minimum: 0
          maximum: 1000000
    ReservationPaymentIntentResponse:
      type: object
      required:
        - payment_intent_id
        - client_secret
      properties:
        payment_intent_id:
          type: string
        client_secret:
          type: string
    ContactUsSubmissionRequest:
      type: object
      required:
        - first_name
        - email_address
        - signup_intent
      properties:
        first_name:
          type: string
          maxLength: 100
        email_address:
          type: string
          format: email
          maxLength: 320
        phone_number:
          type: string
          maxLength: 40
        phone_country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: "^[A-Z]{2}$"
          nullable: true
          description: >
            Optional ISO 3166-1 alpha-2 region for parsing `phone_number`. When omitted, the
            API uses the configured default phone region (production default HK).
        message:
          type: string
          maxLength: 2000
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, subscribe the contact to marketing (Mailchimp) with a flow-specific tag.
        signup_intent:
          type: string
          description: >
            Distinguishes contact-us submissions for Mailchimp tagging and Aurora `source_detail`.
            For community_newsletter and event_notification, the matching public-www-* tag is used when
            marketing_opt_in is true. Intents community_newsletter and event_notification skip the SES
            contact confirmation email. contact_inquiry creates a sales lead and triggers SUPPORT_EMAIL
            notification when configured.
          enum:
            - contact_inquiry
            - community_newsletter
            - event_notification
        locale:
          type: string
          description: Public website route locale for SES confirmation template selection (falls back to Accept-Language when omitted).
          enum:
            - en
            - zh-CN
            - zh-HK
    MediaRequestSubmissionRequest:
      type: object
      required:
        - first_name
        - email
      properties:
        first_name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
          maxLength: 320
        resource_key:
          type: string
          maxLength: 200
          description: Optional free-resource identifier used for downstream CRM tagging.
        marketing_opt_in:
          type: boolean
          default: false
          description: When true, trigger the shared welcome marketing journey after subscribe (when configured).
        locale:
          type: string
          description: Public website locale for SES template selection.
          enum:
            - en
            - zh-CN
            - zh-HK
    MailchimpWebhookRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [subscribe, unsubscribe, cleaned, profile, upemail]
        "data[email]":
          type: string
          format: email
          maxLength: 320
        "data[new_email]":
          type: string
          format: email
          maxLength: 320
        "data[id]":
          type: string
          maxLength: 64
    ReservationSubmissionAccepted:
      type: object
      required:
        - message
      properties:
        message:
          type: string
