openapi: 3.0.3
info:
  title: Public API
  version: 0.2.0
  description: |
    Public endpoint contract.

    This spec covers:
    - Public asset endpoints exposed by the backend API stack
      (`/v1/assets/public*`).
    - Public website endpoints consumed by `apps/public_www`, exposed via the
      CloudFront `/www/*` proxy allowlist in
      `backend/infrastructure/lib/public-www-stack.ts`.

servers:
  - url: https://api.evolvesprouts.com
    description: Direct API origin
  - url: https://www.evolvesprouts.com
    description: Public website (same-origin `/www/*` proxy path)
  - url: https://www-staging.evolvesprouts.com
    description: Staging public website (same-origin `/www/*` proxy path)

paths:
  /v1/assets/public:
    get:
      summary: List public assets
      description: Public asset listing route guarded by device attestation and API key.
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset list response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/assets/public/{id}/download:
    parameters:
      - $ref: "#/components/parameters/AssetId"
    get:
      summary: Generate public asset download
      security:
        - ApiKeyAuth: []
          DeviceAttestation: []
      responses:
        "200":
          description: Public asset download response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAssetDownloadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /www/v1/calendar/events:
    get:
      summary: List public website events
      description: Event feed consumed by `apps/public_www`.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Event list response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /www/v1/discounts/validate:
    post:
      summary: Validate discount code
      description: Validate a discount code for the public booking flow.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscountValidationRequest"
      responses:
        "200":
          description: Discount validation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "202":
          description: Discount validation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /www/v1/reservations:
    post:
      summary: Submit reservation
      description: Submit a public reservation request from `public_www`.
      security:
        - ApiKeyAuth: []
          TurnstileToken: []
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReservationSubmissionRequest"
      responses:
        "200":
          description: Reservation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "202":
          description: Reservation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /www/v1/contact-us:
    post:
      summary: Submit contact-us form
      description: Submit a contact-us message from `public_www`.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUsSubmissionRequest"
      responses:
        "200":
          description: Contact request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "202":
          description: Contact request accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationSubmissionAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    DeviceAttestation:
      type: apiKey
      in: header
      name: x-device-attestation
    TurnstileToken:
      type: apiKey
      in: header
      name: X-Turnstile-Token

  parameters:
    AssetId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Asset identifier.
    TurnstileTokenHeader:
      name: X-Turnstile-Token
      in: header
      required: true
      schema:
        type: string
      description: Cloudflare Turnstile response token.

  responses:
    BadRequest:
      description: Validation or request format error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authorization or verification failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    PublicAsset:
      type: object
      required:
        - id
        - title
        - asset_type
        - file_name
        - visibility
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        asset_type:
          type: string
          enum: [guide, video, pdf, document]
        file_name:
          type: string
        content_type:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [public, restricted]
        updated_at:
          type: string
          format: date-time
          nullable: true
    PublicAssetListResponse:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PublicAsset"
        next_cursor:
          type: string
          nullable: true
    PublicAssetDownloadResponse:
      type: object
      required:
        - asset_id
        - download_url
        - expires_at
      properties:
        asset_id:
          type: string
        download_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        detail:
          type: string
          nullable: true
    EventsResponse:
      type: object
      additionalProperties: true
      description: |
        Event payload consumed by `apps/public_www/src/lib/events-data.ts`.
        The frontend normalizes multiple possible response shapes.
    DiscountValidationRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          maxLength: 100
    DiscountRule:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
          nullable: true
        amount:
          type: number
        is_percentage:
          type: boolean
        currency_code:
          type: string
          nullable: true
        currency_symbol:
          type: string
          nullable: true
    DiscountValidationResponse:
      type: object
      additionalProperties: true
      properties:
        valid:
          type: boolean
        is_valid:
          type: boolean
        data:
          oneOf:
            - $ref: "#/components/schemas/DiscountRule"
            - type: array
              items:
                $ref: "#/components/schemas/DiscountRule"
        discount:
          $ref: "#/components/schemas/DiscountRule"
    ReservationSubmissionRequest:
      type: object
      required:
        - full_name
        - email
        - phone_number
        - cohort_age
        - cohort_date
        - price
        - reservation_pending_until_payment_confirmed
        - agreed_to_terms_and_conditions
      properties:
        full_name:
          type: string
          maxLength: 200
        email:
          type: string
          format: email
        phone_number:
          type: string
          maxLength: 40
        cohort_age:
          type: string
          maxLength: 200
        cohort_date:
          type: string
          description: Cohort date in ISO format (YYYY-MM-DD).
        comments:
          type: string
          maxLength: 1000
        discount_code:
          type: string
          maxLength: 100
        price:
          type: number
          minimum: 0
          maximum: 1000000
        reservation_pending_until_payment_confirmed:
          type: boolean
        agreed_to_terms_and_conditions:
          type: boolean
    ContactUsSubmissionRequest:
      type: object
      required:
        - email_address
        - message
      properties:
        first_name:
          type: string
          maxLength: 200
        email_address:
          type: string
          format: email
          maxLength: 320
        phone_number:
          type: string
          maxLength: 40
        message:
          type: string
          maxLength: 5000
    ReservationSubmissionAccepted:
      type: object
      required:
        - message
      properties:
        message:
          type: string
